
// svg {
//     width: 100%;
//     max-width: 600px;
//     max-height: 200px;
//     height: auto;
//     border: 1px solid #555;
//     box-sizing: border-box;
// }

$color-time: 12s;
$step: $color-time/4;

stop {
    animation: colors $color-time infinite;
}

// .stop-1 {
    
// }
.stop-2 {
    animation-delay: -$step;
}
.stop-3 {
    // color: transparent !important;
    animation-delay: -$step*2;
}

@keyframes colors {
    15% {
        stop-color: #751A69;
    }
    30% {
        stop-color: #FF7C38;
    }
}
