
@media(max-width:1900px){
    .container{
        max-width: 1900px;
    }
    .container-padding{
        padding-left: 70px;
    }

 /* Hero */

    .hero-title{
        margin-left: -49px;
        margin-top: 180px;

        font-size: 320px;
        font-style: normal;
        font-weight: 400;
        line-height: 119.615%; /* 415.066px */
        letter-spacing: 46.845px;
    }

    .large-btn {
        width: 350px;
        height: 75px;
        margin-left: 0px;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 153px;
        margin-right: 120px;
        position: absolute;
        right: 20%;
      }
  

}
@media(max-width:1850px) {
    .container{
        max-width: 1850px;
    }

    .team-txt {
      width: 1521px;
    }
}
@media(max-width:1800px) {
    .container{
        max-width: 1800px;
    }

}
@media(max-width:1700px){
    .container{
        max-width: 1700px;
    }
 
}
@media(max-width:1650px){
    .container{
        max-width: 1650px;
    }
    
}
@media(max-width:1600px){
    .container{
        max-width: 1600px;
    }
    .txt {
        font-size: 30px;
    }
    .team-txt {
      width: 963px;
    }
 
 /* Hero */

 .hero-title{
    margin-left: -49px;
    margin-top: 180px;

    font-size: 250px;
    font-style: normal;
    font-weight: 400;
    line-height: 119.615%; /* 415.066px */
    letter-spacing: 46.845px;
    }
    .hero-p{
        width: 626px;
      font-size: 35px;
    }
   
    .large-btn {
        right: 2%;
      }
    
      .txt {
        font-size: 25px;
      }
}
@media(max-width:1550px)  {
    .container{
        max-width: 1550px;
    }
    .el-4{
        height: 799px;
    }
    
}
@media(max-width:1500px) {
    .container{
        max-width: 1500px;
    }
    .el-1 {
        width: 1500px;
      }
    .el-2 {
    width: 1500px;
    top: -5%;
    left: -45%;
    }
    .el-3{
        width: 775px;
    }
    .el-6 {
      width: 867px;
    }
 
}
@media(max-width:1450px) {
    .container{
        max-width: 1450px;
    }
    .purpose {
        padding-top: 200px;
        padding-left: 126px;
        padding-right: 153px;
        padding-bottom: 60px;
        background-size: 40%;
        background-position: 50% 63%;
      }
      .purpose .ta-left {
        width: 900px;
      }
      .purpose .ta-right {
        width: 804px;
       
      }
}
@media(max-width:1400px) {
    .container{
        max-width: 1400px;
    }
    .hero-title{
        font-size: 220px;
    }
    .purpose {
        padding-top: 200px;
        padding-left: 70px;
        padding-right: 50px;
        padding-bottom: 60px;
        background-size: 40%;
        background-position: 50% 63%;
      }
    .large-btn {
        margin-top: 325px;
        right: 27%;
    }
    .footer{
        margin-left: 70px;
    }
    .mail-footer {
        font-size: 18px;
    }
    .copyright {
        font-size: 14px;
    }
    .footer-title {
        font-size: 90px;
      } 
      .el-1 {
        width: 1300px;
      }
      .el-2{
        width: 1296px;
        top:0%
      }
     
}
@media(max-width:1350px) {
    .container{
        max-width: 1350px;
    }
}
@media(max-width:1300px) {
    .container{
        max-width: 1300px;
    }
  
}
@media(max-width:1250px) {
    .container{
        max-width: 1250px;
    }
}
@media(max-width:1200px) {
    .container{
        max-width: 1200px;
    }
    .txt {
        font-size: 25px;
      }
    .hero-title {
        font-size: 200px;
        margin-left: 0px;
      }
      .hero-p {
        width: 400px;
        font-size: 25px;
      }
    .purpose .ta-left {
        width: 600px;
      }
      .purpose .ta-right {
        padding-top: 43px;
        width: 604px;
      }  
      .team-txt {
        width: 715px;
      }
      .team {
        padding-top: 191px;
        padding-bottom: 207px;
      }
    
}
@media(max-width:1150px) {
    .container{
        max-width: 1150px;
    }
    .large-btn{
        right: 20%;
    }
      .el-4 {
        height: 401px;
    }
  
  }
  @media(max-width:1100px) {
    .container{
      max-width: 1100px;
    }
    .hero-title{
      margin-top: 131px;
      font-size: 180px;
    }
    .hero-p{
      margin-right: 114px;
    }
    .form {
        padding-top: 139px;
    }

}
@media(max-width:1000px) {
    .container{
        max-width: 1000px;
    }
    .large-btn {
        right: 10%;
      }
      .el-7 {
        width: 605px;
      }
      .sending-form .title {
        width: 863px;
      }
      
}
@media(max-width:950px) {
    .container{
        max-width: 950px;
    }
    .title{
        font-size: 79px;
    }
    .hero-title{
        font-size: 164px;
        letter-spacing: 27.8px;
    }
    .el-1 {
        width: 1052px;
        top: -7%;
      }
    .el-2 {
        width: 1016px;
        top: 3%;
        left: -51%;
    }
      .el-3{
        width: 575px;
        top: -30%;
      }
      .purpose{
        background-size: 50%;
      }
      .services-title {
        width: 327px;
      }
      .sending-form .title {
        width: 755px;
      }
      .sending-form{
        padding-bottom: 208px;
      }
      .input-block{
        padding-bottom: 70px;
      }
      .large-btn{
        margin-top: 697px;
        right: 15%;
      }
    .footer{
        margin-right: 55px;
    }
    .footer-title {
        font-size: 49px;
      }
  
}
@media(max-width:900px) {
    .container{
        max-width: 900px;
    }
    .hero-p {
        margin-right: 64px;
      }
      .hero-title {
        font-size: 136px;
      }
    
}
@media(max-width:850px) {
    .container{
        max-width: 850px;
    }
    
}
@media(max-width:800px) {
    .container{
        max-width: 800px;
    }   
    .sending-form .title {
        width: 633px;
      }
     .title {
        font-size: 65px;
      }
      .el-1 {
        width: 683px;
                top: -7%;
      }
      .el-2 {
        width: 851px;
      }
    .footer{
        display: flex;
        align-items:center;
        flex-direction: column;
    }
    .mail-footer {
        padding-left: 0px;
        order: 1;
      }
    .footer-title{
        padding-left: 8px;  
    }
    .team-txt {
      width: 475px;
    }

   
}
@media(max-width:750px) {
    .container {
        max-width: 650px;
      }
    .large-btn {
        right: 10%;
      }
      .container-padding{
          padding-left: 50px;
      }
    
}
@media(max-width:700px) {
    .container{
        max-width: 650px;
    }
    .container-padding{
        padding-left: 40px;
    }
    .hero-title {
        font-size: 112px;
      }
      .txt {
        font-size: 20px;
      }
      .purpose {
        background-size: 50%;
        padding-right: 0px;
        margin-right: 50px;
      }
      .btn-sm{
        margin-top: 62px;
      }
      .title {
        font-size: 48px;
      }
      .sending-form .title {
        width: 640px;   
      }
        .services-title {
            width: 212px;
      }
      .head-logo {
        font-size: 120px;
        letter-spacing: -4.5px;
        margin-left: 55px
            }
            .team-title {
              width: 287px;
            }
}
@media(max-width:650px) {
    .container{
        max-width: 650px;
    }
    
}
@media(max-width:600px) {
    .container{
        max-width: 550px;
        overflow: hidden;
    }
    .hero-title {
        margin-top: 84px;
        margin-left: 20px;
        font-size: 99px;
        letter-spacing: 24px;
      }
      .purpose{
        padding-top: 150px;
        background-size: 83%;
        background-position: 70% 44%;
      }
      .purpose .ta-left {
        width: 400px;
      }
      .purpose .ta-right {
        padding-top: 43px;
        width: 500px;
      }
      .btn-sm{
        margin-left: -52px;
        margin-top: 102px;
      }
      .el-3 {
        width: 206px;
        top: -30%;
      }
      .el-4{
        height: 855px;
        top: 163%;
        right: 0%;
      }
      .sending-form{
        padding-bottom: 150px;
      }
      .large-btn {
        margin: 0px;
        margin-top: 70px;
        position: relative;
        right: 0%;
        }
      .footer{
        margin-left: 50px;
        margin-right: 50px;
      } 
      .purpose .ta-right {
          padding-top: 43px;
          width: 450px;
        }
      
}
@media(max-width:550px) {
    .container{
        max-width: 550px;
    }
    .form {
        padding-top: 75px;
      }
    .input-block{
        padding-bottom: 50px;
    }
    .label{
        font-size: 18px;
    }
    .team-title {
      width: 270px;
      margin-right: 40px;
      padding-right: 0px;
    }
    .el-7 {
      width: 412px;
    }
    .team-txt {
      width: 350px;
    }
    
}
@media(max-width:500px) {
    .container{
        max-width: 500px;
        overflow: hidden;
    }
    .title{
        line-height: 85.9px;
        }
    .hero-title{
        font-size: 79px;
        letter-spacing: 19px;
        margin-left: 10px;
    }
    .hero-p{
        margin-right: 50px;
        margin-top: 0px;
        font-size: 20px;
    }
    .el-2 {
        width: 465px;
        left: -34%;
      }
      .el-3 {
        width: 206px;
        top: -3%;
      }
    .el-4 {
        top: 152%;
      }
      .el-7{
        left: -30%;
      }
    .purpose{   
         margin-right: 30px;
        }
    .purpose .ta-right {
        padding-top: 43px;
        width: 400px;
      }
      .sending-form .title {
        width: 258px;
      }
      .head-logo {
        font-size: 100px;
      }
}
@media(max-width:470px) {
    .container{
        max-width: 400px;
    } 
    .btn{
        font-size: 13.3px;
    }
    .txt {
        font-size: 14px;
      }
    .el-1 {
        width: 563px;
        top: -7%;
      }
      .el-4 {
        top: 133%;
      }
    .hero-title{
        margin-left: 14px;
        letter-spacing: 11px;
    }
    .hero-p {
        margin-right: 0px;
    }
    .purpose{
        padding-top: 54px;
        background-position: 100% 38%;
    }
    .purpose .ta-left {
        width: 293px;
      }
      .purpose .ta-right {
        padding-top: 43px;
        width: 337px;
      }
      .btn-sm{
        margin-left: 26px;
          }
          .large-btn{
            height: 60px;
          }
        
          
}
@media(max-width:450px) {
    .container{
        max-width: 400px;
    }
    .el-5{
      width: 200px;
    }
    
}
@media(max-width:400px) {
    .container{
        max-width: 360px;
    }
    .container-padding {
        padding-left: 26px;
      }
    .hero-title{
        font-size: 66px;
    }
    .hero-p {
        margin-right: 0px;
        margin-top: 0px;
        font-size: 18px;
      } 
      .el-1 {
        width: 488px;
        top: -7%;
      }
      .el-4 {
        top: 120%;
      }
      .purpose .ta-right {
        padding-top: 43px;
        width: 304px;
      }
      .form {
        padding-top: 49px;
    }
    .input-block {
        padding-bottom: 27px;
      }
      .footer {
        margin-left: 20px;
        margin-right: 20px;
      }
      .head-logo {
        font-size: 86px;
      }
   
}
@media(max-width:370px) {
    .hero-p{
        margin-right: 12px;
    }
    .input-form {
        width: 309px;
    }
    .large-btn {
        width: 323px;
    }
    .head-logo{
      font-size: 80px;
      margin-left: 72px;
    }
    .team{
      padding-top: 111px;
    }
   
}
@media(max-width:360px) {
    .hero-p{
        margin-right: 12px;
        width: 300px;
    }
    .el-4 {
        top: 122%;
      }
    .input-form {
        width: 250px;
    }
    .large-btn {
        width: 272px;
        }
}
@media(max-width:350px) {
    .container{
        max-width: 300px;
    }
    .txt {
        font-size: 13px;
      }
    .hero-title {
        font-size: 56px;
      }
      .hero-p{
        margin-right: 0px;  
        font-size: 14px;
      }
      .purpose .ta-left {
        width: 245px;
      }
      .purpose .ta-right {
        padding-top: 26px;
        width: 228px;
      }
      .btn-sm{
        margin-top: 15px;
        padding: 17px 45px;
      }
      .el-4 {
        top: 115%;
      }
}





@media (max-width:1028px) {
    .sw-btn-bottom{
      top: var(--swiper-navigation-top-offset,78%);
        /* left: 42%;    */
    }
    .sw-btn-bottom-prew{
        left: 41%;
    }
    .sw-btn-bottom-next{
        right: 38%;
    }
    .values-wrapper{
      max-width: 500px;
    }
}
@media (max-width:768px) {
    .sw-btn-bottom-prew{
        left: 37%;
    }
    .sw-btn-bottom-next{
        right: 37%;
    }
}
@media (max-width:620px) {
    .sw-btn-bottom-prew{
        margin-left: -20px;
    }
    .sw-btn-bottom-next{
        margin-right: -20px;
    }
}
@media (max-width:480px) {
    .sw-btn-bottom-prew{
        margin-left: -20px;
        left: 33%;
    }
    .sw-btn-bottom-next{
        margin-right: -20px;
        right: 33%;
    }
}
@media (max-width:390px) {
    .sw-btn-bottom-prew{
        margin-left: -30px;
        left: 33%;
    }
    .sw-btn-bottom-next{
        margin-right: -30px;
        right: 33%;
    }
}







@media (max-width:1500px) {
  .swiper-title{
      font-size: 32px; 
  }
}
@media (max-width:1250px) {
  .swiper-title{
      font-size: 28px; 
      line-height: 30px;
  }
  .swiper-txt{
      line-height: 32px;
  }
  .sw-btn-bottom-right{
      left: 40%;
  }
  .sw-btn-bottom-left{
      right: 40%;
  }
}
@media (max-width:1020px){
  .values-slide {
    height: 599px;
  }
}
@media (max-width:1000px){
  .values-slide {
    height: 472px;
  }
  .sw-btn-bottom {
    top: var(--swiper-navigation-top-offset,89%);
  }
}
@media (max-width:480px) {
  .values-slide {
    height: 521px;
  }
  .sw-btn-bottom {
    top: var(--swiper-navigation-top-offset,65%);
  }
  .card-number{
  font-size: 26px;
  line-height: 24px;
  }
  .swiper-title{
      font-size: 26px; 
  }
}
@media (max-width:360px) {
  .swiper-title {
      font-size: 23px;
    }
}
