:root{
    /* --background-color: rgba(10, 9, 11, 0.49); */
    --background-color: #140818;
    --white:#fff;
    --white-txt: #F4F4F4;
    /* --oarange:#FF7C38; */
    --stroke_color:rgba(255, 124, 56, 1);
    --light-purple:#FF57FF;
    --purple:#751A69;
    --text-gradient-h1: linear-gradient(91deg, #FF7C38 21.27%, #751A69 79.5%);
    --text-gradient-p: linear-gradient(270deg, #751A69 14.48%, #FF7C38 92.99%);
    --text-gradient-h2:var(--text-gradient-h1, linear-gradient(92deg, #FF7C38 0.66%, #562267 99.13%));
    --background-btn:rgba(255, 87, 255, 0.08);
    --box-shadow-btn: rgba(176, 102, 255, 0.15);
    /* --block-color: linear-gradient(rgba(86, 34, 103, 1), rgba(20, 8, 24, 0)); */
    --swiper-slide: linear-gradient(178deg, #562267 -165.61%, rgba(20, 8, 24, 0.00) 126.22%);
    --copyright:#C9C9C9;
    --footer-h2:linear-gradient(91deg, #FF7C38 21.27%, #751A69 79.5%);
}
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
}
h1{
    margin: 0;
}
input {
    color:var(--white);
    text-shadow: 0 0 0 var(--white);
    outline:none;
}
button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
a {
    color: inherit;
    text-decoration: none;
}
.container{
    width: 1920px;
}
.ta-left{
    text-align: left;
}
.ta-right{
    text-align: right;
}
.btn{
    border-radius: 52px;
    border: 2px solid var(--stroke_color, --oarange);
    background: var(--background-btn);
    box-shadow: 0px 0px 22px 0px var(--box-shadow-btn);
    color: var(--white);
    font-family: 'TT Firs Neue', sans-serif;
    font-size: 16.286px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* HERO */

.hero-text{
    display: flex;
    flex-direction: column;
}
.hero-title{
    margin-left: -49px;
    margin-top: 180px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    font-size: 347px;
    font-style: normal;
    font-weight: 400;
    line-height: 119.615%; /* 415.066px */
    letter-spacing: 46.845px;
    color: var(--oarange);
    background: var(--text-gradient-h1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero-p{
    width: 797px;
    margin-top: -23px;
    margin-right: 148px;
    align-self: flex-end;
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 110.5%; /* 53.04px */
    color: var(--oarange);
    background: var(--text-gradient-p);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
svg{
    fill:inherit;
stroke:inherit;
stroke-width:inherit;
}
.el{
    position: absolute;
    transition: all .8s ease;
}
.el-1{
    top: -775px;
    left: -920px;
}
/* .el-1{
    width: 600px;
    height: 600px;
    top: 0px;
  left: 0px;
} */
.el-2{
    top: -261px;
    left: -1203px;
} 
.el-3{
    top: -179px;
    right: 0px;
    width: 963px;
    overflow: hidden;
}
.el-4{
    width: 789px;
    height: 941px;
    top: 2261px;
    right: 0px;
    overflow: hidden;
}
.el-1:hover{
    fill:red;
}

/* purpose */

.purpose{
    padding-top: 300px;
    padding-left: 126px;
    padding-right: 153px;
    padding-bottom: 88px; 
    display: grid;
    background-image:url(/public/images/ellipse-backgraund.svg);
    background-repeat:no-repeat;
    background-position: 47% 63%;
}
.purpose .ta-left{
    width: 1197px;
    padding-top: 62px;
}
.purpose .ta-right{
    width: 1104px;
    padding-top: 143px;
    justify-self: end;
}
.txt{
    color: var(--white-txt);
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 110.5%; /* 38.675px */
}
.btn-sm{
    padding: 17px 69px 17px 68px;
    margin-top: 149px;
    margin-right: -29px;
    justify-self: center;
}

/* services */

.services{
    padding-left: 111px;
}
.title{
    font-family: "Manrope", sans-serif;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 122.94px;
    text-transform: uppercase;
    color: var(--oarange);
    background: var(--text-gradient-h1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-title{
    width: 408px;
}
.swiper {
    width: 100%;
    height: 163px;
    padding-top: 35px;
}
.swiper-wrapper{
    padding-left: 82px;
}
.swiper-button-prev{
    margin-left: -10px;
    margin-top:calc(0px - (var(--swiper-navigation-size)/ 3)) !important;
    background-image: url(/public/images/prev.svg);
}
.swiper-button-prev:hover{
    background-image: url(/public/images/next.svg);
    transform: rotate(0.5turn);
}
.swiper-button-next{
    margin-right: 99px;
    margin-top:calc(0px - (var(--swiper-navigation-size)/ 3)) !important;
    background-image: url(/public/images/prev.svg);
    transform: rotate(0.5turn);
}
.swiper-button-next:hover{
    background-image: url(/public/images/next.svg);
    transform: rotate(0);
    
}
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: var(--swiper-navigation-top-offset,50%);
    width: 62px;
    height: 62px;
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color:transparent;
}
.swiper-slide{
    display: flex;
    width: 405px !important;
    height: 50px;
    padding: 55px 33px;
    margin-right: 60px !important;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    border: 1px solid var(--light-purple);
    background: var(--swiper-slide);
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* sending-form */

.sending-form{
    padding-left: 89px;
    padding-top: 123px;
    padding-bottom: 163px;
}
.sending-form .title{
    width: 953px;
}
.label{
    color: var(--white);
    font-family: 'Gilroy', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.danger-txt{
    color: var(--light-purple);
}
.danger-txt::after{
    content: '';
    padding-right: 1rem;
    background-image:url(/public/images/asterisk.svg);
    background-repeat:no-repeat;
    background-position:center;
}
.link-contacts::after{
    content: '';
    /* margin-left: 0.5rem; */
    padding-right: 1rem;
    background-image:url(/public/images/chevron-right.svg);
    background-repeat:no-repeat;
}
.form{
    padding-top: 169px;
    display: flex;
    flex-wrap: wrap;
}
.input-block{
    padding-bottom: 89px;
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}
.input-block:nth-child(5){
    padding-bottom: 0px;
}
.input-form{
    width: 346px;
    margin-top: 19px;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--white) ;
}
.large-btn{
    width: 470.876px;
    height: 75px;
    margin-top: 153px;
    margin-right: 120px;
    position: absolute;
    right: 0;
}
.footer{
    padding-bottom: 19px;
    margin-left: 53px;
    margin-right: 116px;
    margin-bottom: 53px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    border-radius: 30px;
    border: 1px solid var(--light-purple);
    background: var(--swiper-slide);
}
.mail-footer{
    padding-left: 26px;
    padding-top: 15px;
    color: var(--white);
    font-family: 'Varela Round',sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-title{
    padding-left: 27px;
    padding-top: 28px;
    font-family: 'Varela Round',sans-serif;
    font-size: 117px;
    font-style: normal;
    font-weight: 400;
    line-height: 119.615%; /* 139.95px */
    letter-spacing: 5.85px;
    background: var(--footer-h2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.copyright{
    padding-top: 34px;
    display: flex;
    flex-direction: column;
    color: var(--copyright);
    text-align: center;
    font-family: 'Gilroy',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.83px;
}
.copyright a:not(:last-child) {
    padding-bottom: 11px;
}